source https://nuget.org/api/v2

nuget Suave
nuget Elmish
nuget Elmish.Bridge.Suave
nuget Elmish.Bridge.Client
nuget Fable.Elmish.HMR
nuget FSharp.Core
nuget Fable.Core
nuget Fable.Elmish.React
nuget Fable.Elmish.Browser
nuget Fable.Elmish.Debugger

clitool dotnet-fable